name: Publish NuGet

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        source-url: https://nuget.pkg.github.com/plus1xp/index.json
      env:
          NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}} 
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --verbosity normal
    - name: Set VERSION variable from tag
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
    - name: Pack
      #run: dotnet pack --configuration Release /p:Version=${VERSION} --output .
      run: dotnet pack --no-build --configuration Release EVLib/EVLib.csproj --output .
    - name: Push
      #run: dotnet nuget push EVLib.${VERSION}.nupkg --source "github"
      #run: dotnet nuget push *.nupkg --skip-duplicate --no-symbols true
      run: dotnet nuget push *.nupkg --skip-duplicate --api-key ${{ github.token }} --source https://nuget.pkg.github.com/plus1xp/index.json
