name: Publish NuGet

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal
    #- name: Set VERSION variable from tag
      #run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
    - name: Pack
      #run: dotnet pack --configuration Release /p:Version=${VERSION} --output .
      run: dotnet pack --configuration Release --no-build  EVLib/testactions.csproj --output .
    - name: Source  
      run: dotnet nuget add source --username plus1xp --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/plus1xp/index.json"
    - name: Push
      run: dotnet nuget push *.nupkg --skip-duplicate --api-key ${{ github.token }} --source "github"
    - name: Zip
      run: zip -r release.zip . -x ".git/*" ".github/*" "*.DS_Store" ".idea/*" ".vscode/*" "EVLib.UnitTests/bin/*" "EVLib.UnitTests/obj/*" "EVLib/obj/*"
    - name: Release
      run: echo "Release"

